[submodule "pack/plugins/start/vim-flow"]
	path = pack/plugins/start/vim-flow
	url = git://github.com/flowtype/vim-flow.git
[submodule "pack/plugins/start/tern_for_vim"]
	path = pack/plugins/opt/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/plugins/start/vim-ruby"]
	path = pack/plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/plugins/start/vim-jsx"]
	path = pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
